body {
    font-family: Arial, sans-serif;
    background: #07393C;
  }
  
  .contenedor {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: #2C666E;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .contenedor-dos{
    max-width: 500px;
    color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #0A090C;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #90DDF0;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  #datosClima {
    margin-top: 20px;
    font-size: 18px;
  }
  